html, body, .app {
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font: 400 32px/1 monospace;
  color: gray;
  background: black;
}

.grid {
  display: flex;
  flex-direction: column;
  /*flex-flow: wrap;*/
}

.tile {
  width: calc(100% / 49);
}
