/* Google Fonts */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono'), local('CutiveMono-Regular'), url(https://fonts.gstatic.com/s/cutivemono/v4/N5odNRruTwjvCM8y77PhQYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body, .app {
  min-width: 100%;
  height: 100%;
}

body {
  margin: 0;
  color: gray;
  font: 400 8vmin/1 'Cutive Mono', monospace;
  background: black;
}

.app {
  display: flex;
  perspective: 640px;
  user-select: none;
  pointer-events: none;
}

.grid {
  margin: auto;
  display: flex;
  flex-flow: wrap;
  width: 40vmin; /* magic number */
  transform: rotateX(45deg);
  perspective: 480px;
}

.tile {
  width: calc(100% / 9);
  text-align: center;
  perspective: 480px;
  /*transition: .25s;*/
}

.wall {
  /*transform: translateZ(-8px)*/
}

.player {
  /*transform: rotateX(-45deg);*/
}
