doctype
html
  head
    title Roguelike
    meta(name='viewport' value='device-width, initial-scale=1.0')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js')
    link(rel='stylesheet' type='text/css' href='styles/index.css')
  body
    .app#app
      game(:neutral='neutral')
    script(src='scripts/index.js')
